@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Montserrat&family=Ubuntu&display=swap');


:root {
    --main-color-dark: #096161;
    --main-color-medium: #2e9696;
    --main-color-light: #c8fbf2;
    --main-background: #1d1d1d;
}

html::-webkit-scrollbar{
    display: none;
}

.body {
    max-width: 100vw;
    background-color: rgb(29, 29, 29);
    font-family: 'Montserrat';
    overflow-x: hidden;
}


#cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.159);
    border-radius: 50%;
    z-index: 9;
    transition: ease-out 0.2s;
}

#cursor::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.126);
    border-radius: 50%;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    transition: ease-out 0.3s;
}


/* title section */

#title {
    max-width: 100vw;
    overflow: hidden;
}

#title .container-fluid {
    min-height: 100vh;
    padding: 0 3%;
}


/* navbar */
#title .navbar {
    position: fixed;
    right: 0;
    left: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2px;
    border: solid 1px rgb(51, 51, 51, .5) ;
    background: rgba(42, 42, 42, 0.21);
    z-index: 1;

}


.navbar-brand span {
    color: var(--main-color-dark);
}

.navbar-nav {
    text-align: right;
    margin: 10px auto;
}

.navbar-nav a {
    margin: auto 5px;
}

.navbar-nav a:hover {
    color: var(--main-color-medium);
}



/* intro */

#title .row h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin: 37vh 1rem 0 4rem;
    color: whitesmoke;
    
}

#title .row h2 {
    position: absolute;
    color: whitesmoke;
    font-size: 2rem;
    margin: 1rem 4rem;
    
}



#title .row h1 span {
    color: var(--main-color-medium);
}


#coder-img {
    margin: 30vh 2rem 0 4rem;
    border-radius: 50%;
    width: 320px;
    max-width: 100%;
    opacity: 0.8;
    border: solid 5px #222222;
    
}

#title hr {
    width: 80%;
    color: var(--main-color-dark);
    margin: 0 auto;
    border-bottom: 0px;
}

/* passion secton */

#passionL{
    overflow: hidden;
}

#passion h1 {
    font-size: 2rem;
    color: whitesmoke;
    padding: 7rem 0 0 7rem;
    letter-spacing: 1px;
    font-weight: bold;
}

#passion span {
    color: var(--main-color-medium);
}

#passion .container-fluid {
    min-height: 100vh;
    padding: 10vh 5%;
    width: 80%;
    align-items: center;
}

#passion .container-fluid .row {
    margin-bottom: 10vh;
}

#passion .container-fluid h3 {
    color: var(--main-color-medium);
    display: inline-block;
    margin-bottom: 2vh;
    font-weight: 800;
    white-space: nowrap;
    font-size: 1.4rem;
}

#passion .container-fluid p {
    color: whitesmoke;
    display: inline-block;
    font-size: 1.1rem;
}


#img-web-development {
    display: block;
    box-sizing: border-box;
    width: 50%;
    max-width: 100%;
}

#img-reverse-engineer {
    display: block;
    box-sizing: border-box;
    width: 50%;
    max-width: 100%;
}

#passion hr {
    width: 70%;
    color: var(--main-color-dark);
    border-width: 1px;
    margin: 0 auto;
}

/* about section */

#about{
    overflow: hidden;
    background-color:transparent;
}

#about .container-fluid{
    padding: 10vh 5%;
    align-items: center;
    
}

#about h1{
    padding: 7rem 0 0 7rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}

#about h1 span{
    color: var(--main-color-medium);
}

#about .row{
    padding: 5% 5% 5% 5%;
}

#about .card{
    border: none;
    width: 90%;
    height: 100%;
    background-color: #222222;   
    padding: 5%;
}

#about .lang{
    margin-top: 5%;
}

#about i{
    padding: 5% 5% 5% 5%;
    display: inline-block;
    color: var(--main-color-medium);
    font-size: 2rem;
    
}


#about .row .card h3 {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: large;
}


#about .row .card span{
    
    padding: 3% 8% 8% 8%;
    font-size: 14px;
    color: white;
}



#objective{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}


#about hr {
    width: 70%;
    color: var(--main-color-dark);
    border-width: 1px;
    margin: 0 auto;
}   



/* contact section */

#contact h1 {
    font-size: 2.5rem;
    padding-top: 10vh;
    color: whitesmoke;
}

#contact .container-fluid {
    padding: 5vh 15%;
}

#contact .row {
    margin-top: 5vh;
    padding: 2vh;
    margin-bottom: 5vh;
    box-shadow: 0px 0px 3px #262a2e, -0px -0px 3px #262a2e;
    border-radius: 10px;
}

#contact img {
    width: 50%;
    max-width: 100%;
}



#contact .details {
    box-sizing: border-box;
}

#contact h2 {
    color: whitesmoke;
    margin: 1rem 0 1rem 0;
}

#contact p {
    color: whitesmoke;
}

#contact a {
    text-decoration: none;
    color: whitesmoke;

}

#contact a:hover {
    color: var(--main-color-dark);
}

i {
    color: whitesmoke;
    margin: 10px;
}

i:hover {
    color: var(--main-color-dark);
}







@media (max-width:1100px) {

    #cursor{
        display: none;
    }

    #coder-img {
        margin: 20vh 2rem 0 4rem;
        width: 400px;
        max-width: 100%;
    }

    #img-web-development {
        display: block;
        box-sizing: border-box;
        width: 70%;
        max-width: 100%;
    }

    #img-reverse-engineer {
        display: block;
        box-sizing: border-box;
        width: 70%;
        max-width: 100%;
    }



}

@media (max-width:990px) {

    #cursor{
        display: none;
    }

    #title .navbar {
        padding: 3% 3% 3% 3%;
        margin: 4% 4% 0 4%;
        border-radius: 15px;
        border: solid 1px rgb(51, 51, 51, .5) ;

    }
    
    #title .navbar-toggler{
        position: relative;
        padding: 4%;
        width: 2rem;
        height: 2rem;
    }

    #title .navbar-toggler-icon{
        position: absolute;
        width: 1.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #title .container-fluid {
        min-height: 100vh;
        padding: 0 1% 10vh 1%;
    }

    #coder-img {
        position: relative;
        margin: 20vh auto 5vh auto;
        width: 70%;
        max-width: 100%;
    }

    #title nav a {
        font-size: 1rem;
    }

    #title .row h1 {
        font-size: 2.2rem;
        font-weight: bolder;
        margin: 2rem 1rem 0 1rem;
        color: whitesmoke;
    }


    #title .row h2 {
        color: whitesmoke;
        font-size: 1.5rem;
        margin: 1rem 1rem 0 1rem;
    }


    #about{
        text-align: center;
    }
    
    #about h1 {
        font-size: 2rem;
        color: whitesmoke;
        padding: 10vh 0 0 0;
        letter-spacing: 1px;
        font-weight: bolder;

    }

    #about .row .card{
        width: 100%;
    }

    #about .row .card h3{

       font-size: 1.3rem;
       white-space: nowrap;
    }

    #about .row .card span{
        font-size: 1rem;
    }

    #about .row .card i{
        padding: 0;
        font-size: 1.7rem;
        width: 2rem;
    }
  
    #passion {

        text-align: center;

    }

    #passion .container-fluid {
        min-height: 100vh;
        padding: 5vh 5% 0 5%;
        width: 80%;
        align-items: center;
    }

    #passion .container-fluid .row {
        margin-bottom: 5vh;
    }



    #passion h1 {
        font-size: 2rem;
        color: whitesmoke;
        padding: 10vh 0 0 0;
        letter-spacing: 1px;
        font-weight: bolder;

    }


    #passion .container-fluid {
        min-height: 100vh;
        padding: 5vh 5%;
        width: 80%;
        align-items: center;
    }


    #img-web-development {
        display: block;
        box-sizing: border-box;
        padding-bottom: 10vh;
        width: 100%;
        max-width: 100%;
    }


    #img-reverse-engineer {
        display: block;
        box-sizing: border-box;
        padding-bottom: 10vh;
        width: 100%;
        max-width: 100%;
    }

    #contact .row {
        margin-top: 0;
    }

   


}


